modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "WebForge API Server"

[[workflows.workflow]]
name = "WebForge API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_d2FudGVkLWJvYmNhdC03Ni5jbGVyay5hY2NvdW50cy5kZXYk"
WEBFORGE_TELEGRAM_BOT_TOKEN = "8600399102:AAFsDWifHhok4gzH0dKIGEPmdke_94hSlh8"
FALLBACK_AI_BASE_URL = "https://aimodelapi.onrender.com/v1"
WEBFORGE_AI_API_KEY = "devx-95iqtgrjr845lijuetujtzhhdqz0peny"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8083
externalPort = 5000

[[ports]]
localPort = 8084
externalPort = 5173

[[ports]]
localPort = 19469
externalPort = 3000

[[ports]]
localPort = 19470
externalPort = 3002

[[ports]]
localPort = 24800
externalPort = 3001

[nix]
channel = "stable-25_05"
